# {{ ansible_managed }}
{% for interface_name, config in network_interfaces.iteritems() %}
auto {{ interface_name }}
{% for c in config %}
iface {{ interface_name }} {{ c.address_family }} {{ c.method }}
{% for name, value in c.options.iteritems() %}
{% if value is sequence and value is not string %}
{% for v in value %}
    {{ name }} {{ v }}
{% endfor %}
{% else %}
    {{ name }} {{ value }}
{% endif %}
{% endfor %}

{% endfor %}
{% endfor %}
